<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

{% extends 'projects/base.html' %}
{% block content%}

<head>
   <title>Home</title>
</head>
<body>

    <h1>Welcome<h1>
    <p>This is my first website made from scratch. I'll be adding my Python and other projects.<p>
    <br>
        {% for project in allprojects %}
        <ol>
            <li><h3 class="projbox">{{ project.title }}</h3>
                <p class="projbox">{{ project.description }}</p>
                <img class="projbox" src="{{ project.image.url }}" width="300px" height="300px">

                {% if project.url %}
                <a class="urlbox" href="{{ project.url }}" target="_blank">Check it out</a>
            </li>
        </ol>


{% endif %}
{% endfor %}
<br><br><br><br><br><br><br><br><br>
</body>







{% endblock %}
</html>
