<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

{% extends 'projects/base.html' %}
{% block content%}

<head>
   <title>Spanish</title>
</head>
<body>

    <h1>Spanish Learning Tools<h1>

    


    <form action="{% url 'spanish2' %}" target="_blank">
        <select name="selection">
            <option value="1" name="selection">Word of the Day</option>
            <option value="2" name="selection">Yesterday's Word</option>
            <option value="3" name="selection">Words the last week</option>
            <option value="4" name="selection">Words the last month</option>
            <option value="5" name="selection">Words the last year</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>


</body>
    



{% endblock %}
</html>